@page
@model LiquorSales.Web.Pages.Shared.ProductDetailModel
@{
    ViewData["Title"] = "ProductDetail";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Product.Name</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="~/images/product/@Model.Product.ImageFile.Replace('-','x')" />
                        <p class="text-center">@Model.Product.Name</p>
                    </a>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <p class="text-success">✅ You are authenticated & logged in.</p>
            <p><strong>User Name:</strong> @User.Identity.Name</p>
        }
        else
        {
            <p class="text-danger">❌ You are NOT authenticated.</p>
        }


        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="price">#@Model.Product.SellingPrice </p>
                    <p class="price_discounted">#@(Model.Product.SellingPrice + 150) </p>

                    @if (HttpContextAccessor.HttpContext?.User?.Identity?.IsAuthenticated == false)
                    {
                        <a asp-page="/Login"
                           asp-route-returnUrl="@Uri.EscapeDataString($"{HttpContext.Request.Path}{HttpContext.Request.QueryString}")"
                           class="btn btn-warning btn-lg btn-block text-uppercase">
                            <i class="fa fa-sign-in"></i> Login to Add to Cart
                        </a>
                    }
                    else
                    {
                        <form asp-page-handler="AddToCart" method="post" name="addToCartForm" id="add_cart_form">
                            <div class="form-group">
                                <label for="size">Size</label>
                                <select asp-for="Size" class="custom-select" id="size">
                                    <option selected>Big</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Small">Small</option>
                                    <option value="Jumbo">Jumbo</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quantity :</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input asp-for="Quantity" type="text" class="form-control" id="quantity" name="quantity" min="1" max="5000" value="1">
                                    <div class="input-group-append">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="fa fa-shopping-cart"></i> Add To Cart
                            </a>
                            <input type="hidden" asp-for="@Model.Product.Id" name="productId" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
